html[data-theme='dark'] {
  --color-primary: #60a5fa;
  --color-accent: #fbf13c;
  --color-secondary: #3b82f6;
  --color-background: #0f172a;
  --color-surface: #1e293b;
  --color-light-gray: #334155;
  --color-text-title: #ffffff;
  --color-text-main: #e2e8f0;
  --color-text-secondary: #94a3b8;
  --color-success: #22c55e;
  --color-error: #f87171;
}
